
.icon-hero2:before { content: '\e801'; } /* '' */
.icon-hero4:before { content: '\e802'; } /* '' */
.icon-hero5:before { content: '\e803'; } /* '' */
.icon-hero3:before { content: '\e804'; } /* '' */
.icon-hero6:before { content: '\e805'; } /* '' */
.icon-hero7:before { content: '\e806'; } /* '' */
.icon-cat2:before { content: '\e807'; } /* '' */
.icon-cat3:before { content: '\e808'; } /* '' */
.icon-cat4:before { content: '\e809'; } /* '' */
.icon-hero1:before { content: '\e80a'; } /* '' */
.icon-cat1:before { content: '\e80b'; } /* '' */