@font-face {
  font-family: 'manga';
  src:  url('fonts/manga.eot?pvxttd');
  src:  url('fonts/manga.eot?pvxttd#iefix') format('embedded-opentype'),
    url('fonts/manga.ttf?pvxttd') format('truetype'),
    url('fonts/manga.woff?pvxttd') format('woff'),
    url('fonts/manga.svg?pvxttd#manga') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'manga' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cat1:before {
  content: "\e900";
}
.icon-cat2:before {
  content: "\e901";
}
.icon-cat3:before {
  content: "\e902";
}
.icon-cat4:before {
  content: "\e903";
}
.icon-hero1:before {
  content: "\e904";
}
.icon-hero2:before {
  content: "\e905";
}
.icon-hero3:before {
  content: "\e906";
}
.icon-hero4:before {
  content: "\e907";
}
.icon-hero5:before {
  content: "\e908";
}
.icon-hero6:before {
  content: "\e909";
}
.icon-hero7:before {
  content: "\e90a";
}
